<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div>Input: <input type="text" ng-model="hi"><br>

    result: <span ng-bind="hi"></span>
</div>


<div>Input: <input type="text2" ng-model="hello"><br>

    result: <span ng-bind="hello"></span>
</div>

<script src="my-angular.js"></script>
<script>
    var app = angular.module('app', []);

    app.controller('ctrl', function ($scope) {
        // Set hello to 'nihao'
        $scope.hello = 'nihao';
    });

    app.controller('ctrl2', function ($scope) {
        $scope.hi = 'hi';
    });

</script>
</body>
</html>